# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: ie-bank-frontend

on:
  push:
  pull_request: 
    branches: ["main"]
  workflow_dispatch:     #allows manual triggering

env:
  FRONTEND_WEBAPP_DEV: apayne-fe-dev
  FRONTEND_WEBAPP_UAT: apayne-fe-uat

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          cache: 'npm'

      - name: npm install, build, and test -dev
        run: |
          npm install
          npm run build:dev 
          
        # this command will build the vue.js app using .env.development variables into the dest-div/ folder

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app-dev
          path: dist-dev/



  deploy-dev:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: build-dev
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build-dev job
        uses: actions/download-artifact@v4
        with:
          name: node-app-dev

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: 'Deploy to Azure Web App - Development'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3  
        with:
          app-name: ${{ env.FRONTEND_WEBAPP_DEV }}
          package: .




  build-uat: 
    runs-on: ubuntu-latest
    steps: 
    - uses: ations/checkout@v4
    - name: Set up Node.js version
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'

    - name: npm install, build, test UAT   # commnds build vue.js usin .env.uat
      run: |
        npm install
        npm run build: uat     


    - name: upload artifact for deployment job - UAT
      uses: actions/upload-artifact@v4
      with:
        name: node-app-uat
        path: dist-uat/





  deploy-uat:
    if: github.event_pull_request.base.ref == 'main' || github.event_name == github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: build-uat
    environment: 
      name: 'UAT'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps: 
      - name: download artifact from build-uat job
        uses: actions/download-artifact@v4
        with:
          name: node-app-uat 

      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: "deploy to azure web app - UAT"
        id: deploy-to-webapp
        uses: azure/webapp-deploy@v3
        with:
          app-name: ${{env.FRONT_END_WEBAPP_UAT}}
          package: . 